body {

    background-color: #202020;
}

/* Header */

header {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

header > h1 {
    color: lavender;
    margin: 0.3em;
}

header > div {
    margin: 1em;
    justify-self: center;
}

header > div > input {

    border-radius: 10px;
    outline: none;
    padding: 0.5em;
}

header span {
    color: lavender;
    font-size: x-large;
    font-weight: 900;
    padding: 0.5em;
    cursor: pointer;
}

header span:hover {
    text-shadow: 2px 1px 6px lavender;
}

/* Main */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto max-content;
    background-color: lavender;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

#toDo, #doing, #done {
    justify-self: center;
    margin: 0.5em;
    justify-content: center;
}

#toDo {
    text-shadow: 2px 1px 6px red;
}

#doing {
    text-shadow: 2px 1px 6px yellow;
}

#done {
    text-shadow: 2px 1px 6px green;
}

#toDoList, #doingList, #doneList {
    background-color: lavender;
    min-height: 10em;
    border-top: 0.2em solid #202020;
    display: grid;
    grid-template-rows: repeat(10, auto);
    padding: 0.5em;
}

#toDoList {
    border-right: 0.2em solid #202020;
}

#doingList {
    border-right: 0.2em solid #202020;
}


.card1, .card2,.card3,.card4,.card5,.card6,.card7,.card8,
.card9,.card10,.card11,.card12,.card13,.card14,.card15,.card16,
.card17, .card18, .card19, .card20,.card21,.card22,.card23,.card24,.card25,.card26,
.card27, .card28, .card29, .card30 {
    background-color: #202020;
    color: lavender;
    padding: 0.8em;
    width: 80%;
    margin: 0.8em auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px 4px #202020;
    border: black 1px solid;
    align-self: center;
}


#toDoList div > div, #doingList div > div, #doneList div > div {

    background-color: #363535;
}

/* Footer */

footer {
    margin: 1em 0;
    display: grid;
    justify-content: center;
}

footer > svg {
    height: 2em;
    fill: lavender;
}

/* Media Query */

@media (max-width: 720px){

    body {
        font-size: 0.7em;
    }
}